/* colors */
:root{
    --primary-color: #f25129;
    --secondary-color: #F2F2F2;
    --tertiary-color: #2c2c2c;
    --extra-color: #ffe600;
}

.nav{
    background-color: var(--secondary-color);
    box-shadow: 0 2px 10px #2c2c2c;
}
.header video{
    display: flex;
    justify-content: center;
    border: 0px solid transparent;
}

.header h1{
    transform: translateY(-300%) translateX(20%);
    font-size: 90px;
    text-transform: uppercase;
    color: var(--extra-color);
    text-shadow: 0 2px 10px #2c2c2c;
   
}

.slider{
    transform: translateY(-60%);
}
/*slide code from Web Dev Tutorials*/
*{
    margin:0;
}

#slider{
  
    height: 500px;
    border:0px solid black;
    display:flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 1600px;
    margin:auto;
}
.subcontainer{
    width: 85%;
    margin:auto;
}

.slide-img{
    width: 100%;
    height: 275px;
    border-radius: 5px;
    background-position:center;
    background-size: cover;
    cursor:pointer;
    display:flex;
    justify-content: center;
    align-items: center;
    transition:0.5s;
}
.slide-img:hover{
    box-shadow: 0 0 0 200px black inset;
}
.slide-img a {
    opacity:0;
    text-decoration:none;
    transform: scale(0);
    transition:0.8s;
}
img-1{
    background-image: url(https://picsum.photos/seed/picsum/200/300);
}