/* colors */
:root{
    --primary-color: #F23A29;
    --secondary-color: #F2F2F2;
    --tertiary-color: #404040;
}

/*slide code from Web Dev Tutorials*/
*{
    margin:0;
}

#slider{
  
    height: 500px;
    border:0px solid black;
    display:flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 1600px;
    margin:auto;
}
.subcontainer{
    width: 85%;
    margin:auto;
}

.slide-img{
    width: 100%;
    height: 275px;
    border-radius: 5px;
    background-position:center;
    background-size: cover;
    cursor:pointer;
    display:flex;
    justify-content: center;
    align-items: center;
    transition:0.5s;
}
.slide-img:hover{
    box-shadow: 0 0 0 200px black inset;
}
.slide-img a {
    opacity:0;
    text-decoration:none;
    transform: scale(0);
    transition:0.8s;
