/* leos code */
body {
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 
    0.5fr
    1fr 
    1fr 
    0.5fr
    ;
    grid-template-rows:
    40px
    1fr
    1fr
    1fr 
    100px
    ;
    grid-template-areas: 
    'nav nav nav nav'
    'header header header header'
    '. body body . '
    '. body body . '
    'footer footer footer footer'
    ;
}

/* nav area */
.nav {
    grid-area: nav;
    background-color: rgba(255, 255, 0, 0.267);
}

/*header area*/
.header {
    grid-area: header;
    background-color: rgba(0, 128, 0, 0.247);
}

/*body area */
.body {
    margin-top: 20px;
    grid-area: body;
    background-color: rgba(0, 0, 255, 0.253);
    display: grid;
    grid-template-columns: 
    150px
    1fr
    ;
    grid-template-rows: 
    1fr 
    1fr
    ;
    grid-template-areas: 
    'icon images-area'
    'icon images-area'
    ;
}

.icon-area {
    grid-area: icon;
    display: flex;
    flex-direction: column;
}

.squares {
    grid-area: images-area;
    display: grid;
    grid-template-columns:
    1fr
    1fr
    ;
    grid-template-rows: 
    1fr 
    1fr
    ;
}

/* squres picture area*/

/* left pictures area */
.squares-left {
    display: grid;
    grid-template-rows: 
    1fr 
    1fr
    ;
}

.pic-left-top {
    margin: 5px;
    background-color: white;
    display: flex;
    justify-content: space-around;
}

.left-bottom-pics {
    margin: 5px;
    background-color: white;
    display: grid;
    grid-template-columns: 
    1fr 
    1fr
    ;
    grid-template-rows: 
    1fr 
    1fr
    ;
    grid-gap: 5px;
    grid-template-areas: 
    'lb1 lb1'
    'lb2 lb3'
    ;
}

.left-bottom1 {
    grid-area: lb1;
}

.left-bottom2 {
    grid-area: lb2;
}

.left-bottom3 {
    grid-area: lb3;
}

/* right pictures area */
.squares-right {
    display: grid;
    grid-template-rows: 
    1fr 
    1fr
    ;
}

.right-top-pics {
    margin: 5px;
    background-color: white;
    display: grid;
    grid-template-columns: 
    1fr 
    1fr
    ;
    grid-template-rows: 
    1fr 
    1fr
    ;
    grid-gap: 5px;
    grid-template-areas: 
    'lb1 lb1'
    'lb2 lb3'
    ;
}

.right-middle-pics {
    margin: 5px;
    background-color: white;
    display: grid;
    grid-template-columns: 
    1fr 
    1fr
    ;
    grid-template-rows: 
    1fr 
    1fr
    ;
    grid-gap: 5px;
    grid-template-areas: 
    'lb1 lb1'
    'lb2 lb3'
    ;
}

.right-bottom-pics {
    margin: 5px;
    background-color: white;
    display: grid;
    grid-template-columns: 
    1fr 
    1fr
    ;
    grid-template-rows: 
    1fr 
    1fr
    ;
    grid-gap: 5px;
    grid-template-areas: 
    'lb1 lb1'
    'lb2 lb3'
    ;
}

/* footer area */
.footer {
    margin-top: 20px;
    grid-area: footer;
    background-color: rgba(255, 0, 0, 0.281);
}