/* leos code */
body {
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 
    0.5fr
    1fr 
    1fr 
    0.5fr
    ;
    grid-template-rows:
    40px
    850px
    1fr
    1fr 
    100px
    ;
    grid-template-areas: 
    'nav nav nav nav'
    'header header header header'
    '. body body . '
    '. body body . '
    'footer footer footer footer'
    ;
}

/* nav area */
.nav {
    grid-area: nav;
    position: sticky;
    top: 0;
    background-color: rgba(255, 255, 0, 0.267);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo {
    padding-left: 40px;
}

.nav-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.nav-buttons a {
    text-decoration: none;
    color: black;
    padding: 0 0 0 40px;
}

.nav-buttons a:nth-child(8) {
    padding-right: 40px;
}

.dropdown-hover {
    position: relative;
    display: inline-block;
}

.dropdown-hover:hover .dropdown-content {
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
}

.dropdown-content a {
    display: block;
    padding: 10px;
    text-decoration: none;
    list-style-type: none;
    color: white;
}

/*header area*/
.header {
    grid-area: header;
    background-color: rgba(0, 128, 0, 0.247);
}

.slider {
    margin: 0;
    padding: 0;
}

/*body area */
.body {
    margin-top: 20px;
    grid-area: body;
    background-color: rgba(0, 0, 255, 0.253);
    display: grid;
    grid-template-columns: 
    0.5fr
    1fr
    ;
    grid-template-rows: 
    100px 
    1fr
    1fr
    1fr
    ;
    grid-template-areas: 
    'icon text-area'
    'icon images-area'
    '.  images-area'
    '. bottom-body'
    ;
}

.icon-area {
    grid-area: icon;
    display: flex;
    flex-direction: column;
}

.text {
    grid-area: text-area;
}

.squares {
    grid-area: images-area;
    display: grid;
    grid-template-columns:
    1fr
    1fr
    ;
    grid-template-rows: 
    500px 
    500px
    ;
}

/* squres picture area*/

/* left pictures area 
.squares-left {
    display: grid;
    grid-template-rows: 
    350px
    8000px
    ;
}

.pic-left-top {
    margin: 5px;
    display: flex;
    justify-content: space-around;
}


.left-bottom-pics {
    margin: 5px;
    display: grid;
    grid-template-columns: 
    1fr 
    1fr
    ;
    grid-template-rows: 
    1fr 
    1fr
    ;
    grid-gap: 5px;
    grid-template-areas: 
    'lb1 lb1'
    'lb2 lb3'
    ;
}

.left-bottom1 {
    grid-area: lb1;
}

.left-bottom2 {
    grid-area: lb2;
}

.left-bottom3 {
    grid-area: lb3;
}
*/

/* right pictures area */
.squares-right {
    display: grid;
    grid-template-rows: 
    1fr 
    1fr
    ;
}

.right-top-pics {
    margin: 5px;
    display: grid;
    grid-template-columns: 
    1fr 
    1fr
    ;
    grid-template-rows: 
    500px 
    500px
    ;
    grid-gap: 5px;
    grid-template-areas: 
    'rt1 rt2'
    'rt3 rt3'
    ;
}

.right-top1 {
    grid-area: rt1;
}

.right-top2 {
    grid-area: rt2;
}

.right-top3 {
    grid-area: rt3;
}

.right-bottom-pics {
    height:fit-content
}

.pic4 {
    height: 100px;
}

.bottom-body {
    grid-area: bottom-body;
}

/* footer area */
.footer {
    margin-top: 20px;
    grid-area: footer;
    background-color: rgba(255, 0, 0, 0.281);
}