/* whole page */
body {
    padding: 0;
    margin: 0;
}

/* nav area */
.nav {
    grid-area: nav;
    position: sticky;
    top: 0;
    background-color: rgba(255, 255, 0, 0.267);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo {
    padding-left: 40px;
}

.nav-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.nav-buttons a {
    text-decoration: none;
    color: black;
    padding: 0 0 0 40px;
}

.nav-buttons a:nth-child(8) {
    padding-right: 40px;
}

.dropdown-hover {
    position: relative;
    display: inline-block;
}

.dropdown-hover:hover .dropdown-content {
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
}

.dropdown-content a {
    display: block;
    padding: 10px;
    text-decoration: none;
    list-style-type: none;
    color: white;
}

/*header area*/
.header {
    grid-area: header;
    background-color: rgba(0, 128, 0, 0.247);
}

/* body area */
.body {
    display: grid;
    grid-template-columns:
    1fr
    1fr
    ;
    grid-template-rows:
    1fr
    1fr
    ;
    grid-template-areas: 
    'text text'
    'checkbox forms'
    ;
}

.text-area {
    grid-area: text;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.checkbox-area {
    grid-area: checkbox;
}

.checkbox-area form fieldset {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.forms {
    grid-area: forms;
}